extend layout
h1= title
block content
  p Welcome. You're logged in now
  p
    a( href='/' ) Home
  p
    a( href='/admin/new' ) New post
  p
    a( href='/admin/edit' ) Edit posts
  p
    a( href='/admin/logout' ) Logout

