extend layout
h1= title
block content
  form( method="post")
    #startdate
      span Enter a start date :
      input(type="text", name="startdate", id="daysTextDateStart")
    #startdate
      span Enter an end date :
      input(type="text", name="enddate", id="daysTextDateEnd")
    #type
      span What would you like?
      select( name="type" )
        option( value="dt" ) Days' text
        option( value="br" ) Bible reading
        option( value="wt" ) Watchtower subject
    #dateSubmit
      input(type="submit", value="Send")

    #texts
      for text in texts
        include text
