extend layout
h1= title
block content
  p Following posts are available:
  #posts
    for post in posts
      p.editPost= post.title
        .deleteLink
          a(href='/admin/delete/' + post._id.toHexString()) Delete
        .editLink
          a(href='/admin/edit/' + post._id.toHexString()) Edit

