extend layout
block content
  #posts
    for post in posts
      include post

block sidebar
  .widget
    h1 Testing site.
    p
      | After a very long time of no changes to this site,
      | I've decided to and managed to redo it, this time with node.js
    p
      | We shall see.
      | - sml, smlgbl@gmail.com
