!!!5
html
  head
    title #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container
      .header
        h1 eightOnions.com
      .content
        .main-content
          block content
        .backLink
          a(href='javascript:history.back()') << Go back
      .footer
        p 
          | Running on 
          a(href="http://nodejs.org") node
          |  with Express, MongoDB, Jade and Stylus
