!!!5
html
  head
    title #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container
      .header
        h1 eightOnions.com
      .content
        .main-content
          block content
      .footer
        p Running on node with Express, Jade and Stylus
